<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Available Categories</h2>
        
        <ul>
            <% if (categories && categories.length > 0) { %>
                <% categories.forEach(category => { %>
                    <li><%= category.name %></li>
                <% }) %>
            <% } else { %>
                <li>No categories found at this time.</li>
            <% } %>
        </ul>
    </main>
<%- include('partials/footer') %>